<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">
        Sistema de Gerenciamento de Series
      </h1>
      <p class="lead text-center">
        Bem-vindo ao Sistema de Gerenciamento de Series!
        Este sistema foi projetado pra ajudá-lo a manter
        em dia suas obras que foram assistidas, que esteja acompanhando
        ou ate mesmo pretendo ou tenha largado!.
      </p>
      <p class="text-center">
        Com esse sistema você pode:
      </p>
      <ul class="list-group">
        <li class="list-group-item">Adicionar novas Series</li>
        <li class="list-group-item">Visualizar suas entradas de Series</li>
        <li class="list-group-item">Atualizar os dados (em andamento, concluidas, etc...)</li>
        <li class="list-group-item">Excluir series que não deseja mais fazer parte de sua lista
        </li>
      </ul>
      <p class="text-center mt-4">
        Comece agora mesmo a organizar suas series de forma eficiente!!!
      </p>
    </div>
  </div>
</div>
